@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('fonts/icons/MaterialIcons-Regular.woff2') format('woff2'),
       url('fonts/icons/MaterialIcons-Regular.woff') format('woff'),
       url('fonts/icons/MaterialIcons-Regular.ttf') format('truetype');
}

/* get the required local files */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Regular.ttf'); /* IE9 Compat Modes */
  src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype'), /* Modern Browsers */
  url('fonts/roboto/Roboto-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

* { box-sizing: border-box; }

html, body, #admin-map {
    height: 100%;
    width: 100%;
}

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
    display: block;
    width: 100%;
}

#vertical-container {
    height: 100%;
}
.repeated-item {
    padding-top: 10px;
}

.md-virtual-repeat-container .md-virtual-repeat-offsetter div {
    padding-left: 16px;
}

.top-search input[type="text"] {
    border: 0;
    height: 65px;
    padding: 0 10px 0 55px;
    font-size: 18px;
    width: 500px;
    border-radius: 2px;
    background-color: #efefef;
    width: 100%;
}

.top-search .close {
    position: absolute;
    top: 15px;
    font-size: 23px;
    font-style: normal;
    width: 45px;
    text-align: center;
    border-radius: 2px 0px 0px 2px;
    cursor: pointer;
    left: 15px;
    height: 40px;
    padding-top: 9px;
}

.admin-items {
    margin: 16px 0px 16px 16px;
}

.admin-widget {
    margin: 16px;
}

.admin-map-container img {
    height: auto !important;
}